---
import CLink from "../helper/CLink"
import Articles from "./blog/Articles"
---

<section class="px-4 py-20 container mx-auto flex flex-col gap-10">
    <div class="flex flex-col gap-4">
        <h2>Check Out Our <span class="special">Blog</span></h2>
        <div>
            <p>Our blog serves as a <span class="italic">growing</span> resource for modding and server <span class="special">guides</span> in games such as <CLink client:load href="https://blog.moddingcommunity.com/tag/minecraft/" target="_blank">Minecraft</CLink>, <CLink client:load href="https://blog.moddingcommunity.com/tag/gta/" target="_blank">Grand Theft Auto</CLink>, <CLink client:load href="https://blog.moddingcommunity.com/tag/l4d2/" target="_blank">Left 4 Dead 2</CLink>, and more!</p>
        </div>
    </div>
    <Articles client:load client:only="react" />
</section>