---
import Icon from "../../assets/discord-icon.svg"
---

<a
    href="https://discord.moddingcommunity.com"
    target="_blank"
    class="bg-[#3BA9FF] rounded w-30 px-2 py-1 sm:w-40 sm:px-4 sm:py-2 duration-150 ring-2 ring-blue-500 hover:ring-blue-400 shadow-black shadow-lg flex items-center gap-2 intersect-once intersect:motion-preset-fade-lg sm:intersect:motion-preset-slide-left-lg"
>
    <div>
        <img
            src={Icon.src}
            class="w-10 h-10 sm:w-15 sm:h-15"
        />
    </div>
    <div>
        <span class="text-base sm:text-lg font-bold text-white">Discord</span>
    </div>
</a>