---
import Icon from "../../assets/forum-icon.svg"
---

<a
    href="https://forum.moddingcommunity.com"
    target="_blank"
    class="bg-[#4bb13e] rounded w-30 px-2 py-1 sm:w-40 sm:px-4 sm:py-2 duration-150 ring-2 ringbg-green-900 shadow-black shadow-lg flex items-center gap-1 intersect-once intersect:motion-preset-fade-lg sm:intersect:motion-preset-slide-up-lg"
>
    <div>
        <img
            src={Icon.src}
            class="w-10 h-10 sm:w-15 sm:h-15"
        />
    </div>
    <div class="flex justify-center">
        <span class="text-base sm:text-lg font-bold text-white">Forum</span>
    </div>
</a>