@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";

@import "react-multi-carousel/lib/styles.css";

@theme {
    --color-header: #080b12;
    --color-body: #040509;
    --color-footer: #080b12;

    --breakpoint-xs: 30rem;
    --breakpoint-3xl: 125rem;

    --color-menu-1: #06070b;

    --color-text-default: #D4D4D4;
    --color-text-primary: #FFFFFF;

    --color-special-0: #5577f0;
    --color-special-1: #4f70e7;
    --color-special-2: #6286ff;
    --color-special-3: #c2481d;

    --color-star: #c2bc00;
    --color-star-2: #b3ae00;

    --color-success: #008236;
    --color-success-2: #2a974a;
    --color-success-3: #6dd383;

    --color-border-primary: #363B59;
    --color-border-secondary: #282c42;
    --color-border-selected: #c66bd5;

    --color-item: #0b0f18;
    --color-item-primary: #3A4F7E;
    --color-item-secondary: #334770;
    --color-item-hover: #131A2A;

    --color-btn-primary: #10151f;
    --color-btn-primary-hover: #181f2f;
    --color-btn-primary-ring: #868FC1;
    --color-btn-primary-ring-hover: #939BC8;

    --color-btn-secondary: #10151f;
    --color-btn-secondary-hover: #1c1f28;
    --color-btn-secondary-ring: #868FC1;
    --color-btn-secondary-ring-hover: #939BC8;

    --color-btn-warning: #000000;
    --color-btn-warning-hover: #000000;
    --color-btn-warning-ring: #000000;
    --color-btn-warning-ring-hover: #000000;

    --color-btn-danger: #c2481d;
    --color-btn-danger-hover: #CF542B;
    --color-btn-danger-ring: #000000;
    --color-btn-danger-ring-hover: #000000;
}

@import "./Base.css";
@import "./Components.css";
@import "./Utilities.css";