---
import Layout from '../../layouts/Layout.astro';

import PrivacyPolicy from "../../components/PrivacyPolicy.astro"
---

<Layout meta={{
    title: "Privacy Policy",
    titleMain: "Privacy Policy - The Modding Community"
}}>
    <h1 class="sr-only">Privacy Policy - The Modding Community</h1>
    <PrivacyPolicy />
</Layout>
