<div class="flex justify-center items-center">
    <div class="flex flex-col gap-2">
        <h2>We're Working On This</h2>
        <p>This page is currently <span class="special">in development</span> and not available!</p>
    </div>
</div>