---
import Heading from "./landing/Heading.astro";
import Servers from "./landing/Servers.astro";
import Mods from "./landing/Mods.astro";
import Blog from "./landing/Blog.astro";
import Community from "./landing/Community.astro";
---

{/* Here for SEO reasons. */}
<h1 class="sr-only">The Modding Community</h1>

<Heading />

<Servers />
<Mods />
<Blog />
<Community />